body {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(219, 212, 212);
  width: 320px;
  border-radius: 15px;
  padding: 20px;
}

input {
  width: 90%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
  /* inset → puts the shadow inside the box */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
}

.clear {
  background-color: red;
  color: white;
}

.plus,
.buttons button:nth-child(4),
.buttons button:nth-child(2),
.buttons button:nth-child(3) {
  background-color: blue;
  color: white;
}

.result {
  grid-row: span 2;
  background-color: green;
}
